Repository mathewhawley/xstate-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

begin initial machine
  src/machines/feedback/config.ts
  src/machines/feedback/index.ts
Due: prettier --write

render initial 'idle' state, create button component
  src/components/App/App.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/index.tsx
  tsconfig.json
Due: prettier --write, prettier --write --parser json

add tachyons, add styles to button
  .lintstagedrc
  package.json
  src/components/Button/Button.tsx
  src/index.tsx
  src/styles/main.scss
  yarn.lock
Due: prettier --write, prettier --write --parser json

add classnames, update button and overall page layout styles
  package.json
  public/index.html
  src/components/App/App.tsx
  src/components/Button/Button.tsx
  src/styles/main.scss
  yarn.lock
Due: prettier --write, prettier --write --parser json

create debug grid hook
  src/components/App/App.tsx
  src/hooks/useDebugGrid.ts
Due: prettier --write

set up initial test suite for feedback machine
  src/__tests__/integration/App.tsx
  src/machines/feedback/index.ts
Due: prettier --write

create layout component
  src/components/App/App.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/index.tsx
  src/styles/main.scss
Due: prettier --write

create useBodyScrollLock hook for future modal
  src/hooks/useBodyScrollLock.ts
Due: prettier --write

begin modal component, create base styles and components
  public/index.html
  src/components/App/App.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
  src/index.tsx
  src/styles/utils.scss
Due: prettier --write

get initial tests passing for opening modal
  package.json
  src/__tests__/integration/App.tsx
  src/components/App/App.tsx
  src/components/Button/Button.tsx
  src/components/Modal/Modal.tsx
  src/machines/feedback/config.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

close modal on click of overlay
  src/__tests__/integration/App.tsx
  src/components/App/App.tsx
  src/components/Modal/Modal.tsx
  src/machines/feedback/config.ts
Due: prettier --write

improve modal responsive styles
  src/components/Modal/Modal.tsx
Due: prettier --write

first hierarchical state nodes and test
  public/index.html
  src/__tests__/integration/App.tsx
  src/components/App/App.tsx
  src/components/Button/Button.tsx
  src/components/Modal/Modal.tsx
  src/machines/feedback/config.ts
Due: prettier --write

improve state naming
  src/__tests__/integration/App.tsx
  src/components/App/App.tsx
  src/machines/feedback/config.ts
Due: prettier --write

rename integration test suite, extract feedback component
  src/__tests__/e2e/.gitkeep
  src/__tests__/integration/Feedback.tsx
  src/components/App/App.tsx
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/index.ts
  src/components/Modal/Modal.tsx
Due: prettier --write

refine test assertions, full state coverage so far
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
Due: prettier --write

initial test for feedback view
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
  src/machines/feedback/config.ts
Due: prettier --write

rename events
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
  src/components/Modal/Modal.tsx
  src/machines/feedback/config.ts
Due: prettier --write

rename feedback -> form, add keypress hook for closing modal
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
  src/components/Modal/Modal.tsx
  src/hooks/useKeyDown.ts
  src/machines/feedback/config.ts
Due: prettier --write

remove unused imports
  src/__tests__/integration/Feedback.tsx
  src/machines/feedback/config.ts
Due: prettier --write

render form when 'bad' state
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
  src/components/Modal/Modal.tsx
Due: prettier --write

add submit events, add tests
  src/__tests__/integration/Feedback.tsx
  src/components/Button/Button.tsx
  src/components/Feedback/Feedback.tsx
  src/machines/feedback/config.ts
Due: prettier --write

extract trigger from modal component, dynamic portal id
  src/components/Feedback/Feedback.tsx
  src/components/Modal/Modal.tsx
Due: prettier --write

tidy up jsx
  src/components/Modal/Modal.tsx
Due: prettier --write

add readme
  README.md
Due: none

add link to visualisation to readme
  README.md
Due: none

begin handling invalid form state
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
  src/machines/feedback/config.ts
Due: prettier --write

simplify testing assertions
  src/__tests__/integration/Feedback.tsx
Due: prettier --write

update yarn.lock
  yarn.lock
Due: none

create transient 'submitted' state
  src/__tests__/integration/Feedback.tsx
  src/components/Feedback/Feedback.tsx
  src/machines/feedback/config.ts
Due: prettier --write

fix bug in tests
  package.json
  src/__tests__/integration/Feedback.tsx
  src/machines/feedback/config.ts
  yarn.lock
Due: prettier --write, prettier --write --parser json

fix TS error
  package.json
  src/__tests__/integration/Feedback.tsx
  yarn.lock
Due: prettier --write, prettier --write --parser json

test
  src/components/Feedback/Feedback.tsx
Due: prettier --write

Revert "test"
  src/components/Feedback/Feedback.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  prettier --write --parser json: any of: *.json
